// Variables
// *------------------------------------------------*
$color-white: #ffffff;
$color-black: #000000;
$color-cream: #FAFFFD;
$color-mud: #f4d35e;
$color-royal: #3c73ff;
$color-green: #2ecc71;
$color-turqoise: #CCE1EA;
$color-light-violet: #99bdff;

$radius-2: 2px;
$radius-4: 4px;
$radius-8: 8px;
$radius-20: 20px;
